[submodule "motherboard/code/pico-sdk"]
	path = motherboard/software/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "CH32V003_TRUE_MINIMAL"]
	path = CH32V003_TRUE_MINIMAL
	url = https://github.com/Enderjelen11/CH32V003_TRUE_MINIMAL
  branch = main
[submodule "motherboard/software/lib/no-OS-FatFS"]
	path = motherboard/software/lib/no-OS-FatFS
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico.git
  ignore = dirty
